# System and IDE files
*/.bash*
*/.cache/
*/.conda/
*/.config/
*/.dotnet/
*/.ipynb_checkpoints/
*/.ipython/
*/.jupyter/
*/.local/
*/.vscode/
*/.idea/

# Specific files
CFUserTextEncoding
.condarc
.gitconfig